h1.name {
  font-family: 'Great Vibes', cursive;
}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    background-image: url("https://images.unsplash.com/photo-1637682184683-74e6d34ed72d?q=80&w=2127&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); /* Set background image */
    background-size: cover; /* Ensure the background image covers the entire body */ 
    font-size: 25px; /* Set font size for text */
    text-align: center; /* Center align text horizontally */
    flex-direction: column; /* Stack elements vertically (default is row) */
    align-items: center; /* Center content horizontally */
    justify-content: flex-start; /* Align content to the top of the viewport */
    height: 100vh; /* Set body height to full viewport height */
    width: 100%;
    margin: 40px;
}

.educationWrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: grid; /** Grid display**/
    color: #444;
}

.certifications {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two rows */
    gap: 20px; /* Space between columns */
    margin-top: 20px;
    grid-gap: 75px;
}

.cert-item {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.educationFooter {
    font-size: medium;
    grid-area: ft;
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
    height: 10px;
}

@media (max-width: 768px) {
  .educationBody .educationWrapper {
    width: 100%;
    max-width: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .educationBody .certifications {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
  }

  .educationBody .certifications figure {
    width: 100%;
    margin: 0;
  }

  .educationBody .cert-item {
    width: 100%;
    height: auto;
    display: block;
  }
}