.button-container {
    display: flex; /* Use flexbox layout for horizontal arrangement */
    gap: 30px; /* Space out the buttons with 20px gap between them */
}

header.mainmenu {
    display: flex;/* Use flexbox layout for header */
    left: 0;
    width: 100%;
    justify-content: center;/* Center the contents (buttons) horizontally */
    background-color: rgba(197, 122, 185, 0.10);/* Set background color with slight transparency */
    height: 70px;/* Set header height */
    align-items: center;/* Align items vertically in the header */
    color: rgb(240, 168, 234);/* Set text color for header elements */
    padding: 20px 0;/* Add padding inside the header */
}


/* Buttons inside the header */
header.mainmenu .button {
    color: rgb(247, 243, 246);/* Set button text color */
    background-color: rgb(139, 61, 129);
    margin: 6px;/* Add margin around the buttons */
    text-align: center;/* Center text inside the button */
    height: 35px;/* Set button height */
    width: 100%;/* Make sure the footer spans the full width */
    border-radius: 5px;/* Round the button corners */
    padding: 0 10px;/* Add padding to the left and right of buttons */
}

/* Cursive Name styling */

.name {
    color: rgb(199, 88, 182);
    font-family: 'great vibes';
    margin-right: 350px;/* Add right margin for alignment */
    margin-left: 60px;/* Add left margin for alignment */
    margin-bottom: 25px;/* Add bottom margin */
    font-size: 100px;/* Set font size for the heading */
}

/* Sticky banner (header stays on top when scrolling) */
.sticky {
    position: sticky;/* Make the header sticky */
    top: 0;/* Keep it at the top of the viewport */
    z-index: 1000;
}