body {
    background-color: rgba(18, 18, 143, 0.979);
    background-image: url("https://img.freepik.com/free-photo/acrylic-painting-background-black-wallpaper-image_53876-108339.jpg?t=st=1737844597~exp=1737848197~hmac=69beffd7cc1c5a95d67e6f3ec8e964d8116b721cfec8c81969866d62349805b3&w=1380");
    background-size: cover;
    color: rgb(237, 243, 223);
    font-size: 25px;
    text-align: center;
}

li {
    font-size: 20px;
    list-style: none;
}

h1 {
    color: rgba(248, 57, 216, 0.918);
    margin-right: 20%;
    margin-left: 2%;
    font-size: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    margin-bottom: 0;
}



/*All header*/
header.mainmenu {
    display: flex;/**FLEX BOX**/
    background-color: rgba(197, 122, 185, 0.10);
    height: 70px;
    content: none;
    align-items: center;
    color: rgb(240, 168, 234);
    padding: 20px 0;
}

/*individual header*/
header.mainmenu ul {
    display: flex; /**FLEX BOX**/ 
    flex-direction: row;                        
    gap: 40px;
    padding: 0;
}

/*Sticky banner*/
.sticky {
    position: sticky;
    top: 0;
}

/*All Footer*/
.contact {
    display: flex; /**FLEX BOX**/
    font-size: large;
    background-color: rgba(197, 122, 185, 0.10);
    height: 30px;
    color: rgb(240, 168, 234);
    padding: 20px 0;
}

/*Footer individual*/
.contact li {
    margin: 4px;
    border: 1px solid red;
    text-align: center;
    border-radius: 25px;
}

.step-title {
    display: flex; /**FLEX BOX**/
    flex-direction: column;
    color: rgb(240, 168, 234);
    font-size: 25px;
}

#topic-select {
    color: rgb(168, 41, 41);
}

#roadmap {
    font-size: 35px;
}

/*all boxes*/
.container {
    display: grid;
    /** grid **/
    width: 100%;
    margin: auto;
    grid-template-columns: 35vw 35vw;
    grid-template-rows: 45vh 45vh;
    grid-gap: 15px;
    grid-area:
        "top top"
        "bottomLeft bottomRight";
    border: 2px solid rgb(247, 182, 96);/**border around whole container**/
    justify-content: center;/** center text in boxes**/
}

/*individual boxes*/
.box {
    display: flex;
    /** flex **/
    align-items: center;
    /** center text within box**/
    justify-content: center;
    border: 1px solid red;

}
/*just to see boxes - remove later*/

/** * {
    border: 1px solid red !important;
}